.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.modal {
    background: teal;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .window {
    background: #FFF;
    padding: 30px;
    width: 500px;
    max-width: 80%;
    border-radius: 5px;
}
.modal svg {
    position: fixed;
    top: 15px;
    right: 15px;
    height: 32px;
    width: 32px;
    border: 0px;
}
.modal svg:hover {
    cursor: pointer;
    color: #FFF;
}
.modal .field {
    margin-bottom: 30px;
}
.modal label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.modal input[type=text] {
    height: 40px;
    border: 1px solid #eee;
    box-shadow: none;
    padding: 0px 15px;
}